body {
  background-color: lightcyan;
}
.search-bar {
  margin-top: 1px;
}
h1 {
  margin: 0 auto;
  color: black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

h2 {
  margin-top: -20px;
  text-align: left;
  color: black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
h3 {
  font-family: lobster;
  font-size: 30px;
  text-decoration: underline;
}

ul {
  text-align: right;
  margin-top: -80px;
  padding: 0;
  list-style: none;
  color: black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.card-title {
  font-family: lobster;
  text-align: center;
}
.card-text {
  font-size: 20px;
  text-align: center;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}
.weather-app {
  padding: 15px;
  border: 1px transparent;
  border-radius: 20px;
  box-shadow: 5px 5px 5px grey;

  background-color: antiquewhite;
}
.card {
  border: 1px solid;
}
.card-group {
  margin: 40px;
}

.weather-links {
  font-size: 50px;

  color: black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.links {
  color: black;
  font-size: 18px;
  text-decoration: none;
}

.weather-description {
  text-transform: capitalize;
}

.active {
  color: black;
  cursor: default;
}
.active:hover {
  text-decoration: none;
}

.weather-image {
  filter: brightness(90%);
}

.image {
  display: block;
  width: 150px;
  padding: 20px;
  float: right;
  margin-top: -10px;
  border-radius: 25px;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  filter: brightness(90%);
}

.weather-forecast-date {
  font-size: 18px;
  color: black;
}

.weather-forecast-temperature {
  font-size: 16px;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}
