.search-bar {
  margin: 50px auto;
  left: 0;
}
h1 {
  color: black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
h2 {
  font-size: 80px;
  margin-bottom: 20px;
  color: black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
h3 {
  top: 20px;
  text-align: left;
  color: black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
h4 {
  font-family: lobster;
  font-size: 50px;
  margin-bottom: -20px;
}

ul {
  text-align: right;
  margin: 0;
  padding: 0;
  list-style: none;
  color: black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.card-title {
  font-family: lobster;
  text-align: center;
}
.card-text {
  font-size: 20px;
  text-align: center;
}
.weather-app {
  border: 1px solid;
  border-radius: 20px;
  height: 750px;
  max-width: 800px;
  display: block;
  margin: 0 auto;
}
.card {
  border: 1px solid;
}
.card-group {
  margin: 20px;
}
.links {
  color: black;
  font-size: 40px;

  padding: 0;
  text-decoration: none;
}

.weather-description {
  text-transform: capitalize;
}
.active:hover {
  text-decoration: none;
}
.active {
  color: black;
  cursor: default;
}
